.footer {
	background-color: #ff6347;
	padding: 2rem;
	text-align: center;

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 1rem 0 0 0;
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-direction: column;
	}

	a {
		text-decoration: none;
		color: white;
	}

	a:hover {
		color: black;
	}
}

@media screen and (min-width: 768px) {
	.footer {
		&__list {
			flex-direction: row;
			gap: 2rem;
		}
	}
}
@media screen and (min-width: 1200px) {
}
